<!DOCTYPE html>

<html>
    <head>
        <title>HappyGroup</title>
        <link type="text/css" href="/css/novelPage.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="flex-container-vertical main-container drop-shadow">
            <div class="flex-container-horizontal top-container">
                <div class="cover-section drop-shadow float" id="cover"> 
                    <img src = <%-cover%> alt= <%-title%>/>
                </div>

                <div class="name-author-section">
                    <h1> <%=title%> </h1>

                    <h4> <%=author%> </h4>

                    <label for="select-option-3">Nguồn</label>

                    <select id="select-option-3" class="choose-link">
                        <option value="truyenfull.vn">truyenfull.vn</option>
                        <option value="tangthuvien.com">tangthuvien.com</option>
                        <option value="metruyen.vn">metruyen.vn</option>
                    </select>

                    <Button class="read-novel-btn" id="read-novel-btn" onclick="document.location='chapter=1'">
                        <span>
                            Bắt đầu đọc
                        </span>
                    </Button>

                    <div> 
                        <hr class="hr-two">             
                    </div>
                </div>
            </div>

            <!-- <div class="flex-container-horizontal detail-section">
                <div class="description-section">
                    <h3>
                        Mô tả
                    </h3>

                    <p>
                        Do something evil
                    </p>
                </div>

                <div class="category-section">
                    <h3>
                        Thể loại
                    </h3>

                    <p>
                        Do something evil
                    </p>
                </div>
            </div> -->
<!-- 
            <div> 
                <hr class="hr-one">             
            </div> -->

                
            <div class="flex-container-vertical chapter-list">
                <h3>
                    Danh sách chương
                </h3>

                <div class="flex-container-horizontal chapters">
                    <ul>
                        <%- chapterList1%>
                    </ul>
                    <ul>
                        <%- chapterList2%>
                    </ul>
                </div>

                <div class="pagination-section">
                    <a href="#">&laquo;</a>
                    <%- pagination%>
                    <a href="#">&raquo;</a>
                </div>
            </div>
        </div>
    </body>

    <script>
        
    </script>
</html>