<!DOCTYPE html>

<html>
    <head>
        <title>HappyGroup</title>
        <link type="text/css" href="/css/novelPage.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="flex-container-vertical main-container drop-shadow">
            <div class="flex-container-horizontal top-container">
                <div class="cover-section drop-shadow float" id="cover"> 
                    <img src = <%-cover%> alt= <%-title%>/>
                </div>

                <div class="name-author-section">
                    <h1> <%=title%> </h1>

                    <h4> <%=author%> </h4>

                    <label for="select-option-3">Nguồn</label>

                    <select id="select-option-3" class="choose-link">
                        <% for (let i = 0; i < srcList.length; i++) { 
                            const encodedTitle = encodeURIComponent(title);
                            const optionValue = srcList[i];
                            const optionUrl = `http://localhost:3000/name=${encodedTitle}/src=${optionValue}/page=1`;
                            const isSelected = (optionValue === src) ? 'selected' : '';
                        %>
                            <option value="<%= optionUrl %>" <%= isSelected %>><%= optionValue %></option>
                        <% } %>
                    </select>
                    <a  href="http://localhost:3000/name=<%= novel%>/src=<%= src %>/chapter=1">
                        <span class="read-novel-btn" id="read-novel-btn">
                            <span>Bắt đầu đọc</span>
                        </span>
                    </a>
                    

                    <div> 
                        <hr class="hr-two">             
                    </div>
                </div>
            </div>

            <!-- <div class="flex-container-horizontal detail-section">
                <div class="description-section">
                    <h3>
                        Mô tả
                    </h3>

                    <p>
                        Do something evil
                    </p>
                </div>

                <div class="category-section">
                    <h3>
                        Thể loại
                    </h3>

                    <p>
                        Do something evil
                    </p>
                </div>
            </div> -->
<!-- 
            <div> 
                <hr class="hr-one">             
            </div> -->

                
            <div class="flex-container-vertical chapter-list">
                <h3>
                    Danh sách chương
                </h3>

                <div class="flex-container-horizontal chapters">
                    <ul>
                        <%- chapterList1%>
                    </ul>
                    <ul>
                        <%- chapterList2%>
                    </ul>
                </div>

                <div class="pagination-section">
                    <a href="#">&laquo;</a>
                    <%- pagination%>
                    <a href="#">&raquo;</a>
                </div>
            </div>
        </div>
    </body>

    <script>
        document.getElementById('select-option-3').addEventListener('change', function() {
            const selectedOption = this.options[this.selectedIndex];
            const url = selectedOption.value;
            window.location.href = url;
        });
    </script>

    <script>
        let mLinksGlobalCheck = <%- JSON.stringify(srcList) %>;

        setInterval(async function () {
            try {
                const response = await fetch('/fetchModules', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ mLinksGlobalCheck })
                });

                const { change, newModules } = await response.json();

                if (change) {
                    mLinksGlobalCheck = newModules;

                    const selectElement = document.getElementById('select-option-3');
                    const selectedOptionValue = selectElement.value;
                    selectElement.innerHTML = '';
                    mLinksGlobalCheck.forEach(optionValue => {
                        const option = document.createElement('option');
                        option.textContent = optionValue;

                        const titleValue = <%- JSON.stringify(title) %>;
                        const encodedTitle = encodeURIComponent(titleValue);
                        const optionUrl = `http://localhost:3000/name=${encodedTitle}/src=${optionValue}/page=1`;
                        option.value = optionUrl;

                        const selected = (optionValue === <%- JSON.stringify(src) %>);
                        if (selected) {
                            option.selected = true;
                        }
                        selectElement.appendChild(option);
                    });
                }
            } catch (error) {
                console.error('Error fetching modules:', error);
            }
        }, 5000);
        
    </script>
</html>